# importing libraries

In [1]:
import numpy as np
import pandas as pd

# importing the dataset

In [ ]:
df=pd.read_csv('C:/Users/USER/Downloads/spam.csv')

In [7]:
df.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [19]:
df['Spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

# Feature extraction

In [48]:
X = df["Message"]
y = df["Spam"]

# train-test split

In [49]:
from sklearn.model_selection import train_test_split
# train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print (X_train.shape)
print (y_train.shape)

(4457,)
(4457,)

In [60]:
# Transforming text messages into numerical arrays
from sklearn.feature_extraction.text import CountVectorizer
Vectorizer = CountVectorizer()
vectorized_data = Vectorizer.fit_transform(X_train)
print(vectorized_data.shape)

(4457, 7701)

# training model

In [61]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
# Fit the model on the training data
model.fit(vectorized_data, y_train)

MultinomialNB()

# example

In [68]:
emails = ["Our second session will be around Cybersecurity represented by Riadh Brinsi Date: June 8th" ,"Mayssa, please add me to your LinkedIn network","Earn up to 5,000 bonus Avios"]
model.predict(Vectorizer.transform(emails))

array([0, 0, 1], dtype=int64)

# accuracy

In [71]:
# Transforming test data into numerical arrays 
vectorized_test_data = Vectorizer.transform(X_test)
accuracy = model.score(vectorized_test_data, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.9919282511210762